.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.199);
}

.nav img {
  height: 90px;
}

.nav ul {
  display: flex;
}

.nav li {
  list-style: none;
}

.nav li a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: large;
  font-weight: bold;
  transition: ease-in;
}

.nav a:hover {
  color: rgb(0, 190, 57);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}

.header {
  background-color: #495E57;
  height: 340px;
  padding: 0 5% ;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 20px 30px rgba(0, 0, 0, 0.7);
}

.header h1 {
 color: #F4CE14;
 font-family:"Markazi Text";
 font-size: 40px;
}

.header h4 {
  color: #fff;
  font-family:"Markazi Text";
  font-size: 20px;
}

.header p {
  color: #fff;
  max-width: 310px;
  font-size: 16px;
}

.header a{
  width: 200px;
  height: 60px;
  background-color: #F4CE14;
  color: #040404;
  border-radius: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
}

header img{
  position: absolute;
  height: 360px;
  width: 330px;
  left: 900px;
  top: 140px;
  border-radius: 16px;
  margin-top: 20px;
  border-radius: 30px;
}