.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.199);
}

.nav img {
  height: 90px;
}

.nav ul {
  display: flex;
}

.nav li {
  list-style: none;
}

.nav li a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: large;
  font-weight: bold;
  transition: ease-in;
}

.nav a:hover {
  color: rgb(0, 190, 57);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}